In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('../data-output/labelled_2024-11-20.csv')

In [41]:
convert_likes_to_integer(df, 'Views')
df['Views'].unique()

ValueError: cannot convert float NaN to integer

array(['14K', '415', '13', '46', '23', '27', '3.1K', '182', '50', '37',
       '14', '940', '43', '1.1K', '32', '44', '404', '15', '41', '26',
       '11', '255', '273', '638', '378', '145', '493', '8', '8.5K', '635',
       '87', '9', '363', '17', '1K', '162', '52', '55', '163', '1.8K',
       '609', '70', '354', '24', '18', '76', '30', '2.6K', '25', '285',
       '20', '47', '733', '226', '1.4K', '1.2K', '19', '7', '271', '60',
       '115', '10', '12', '67', '36', '2', '251', '130', '1.3K', nan],
      dtype=object)

In [ ]:
import pandas as pd
import numpy as np

def convert_column_to_integer(df, column_name):
    """
    Convert a column with values like '14K', '3.1K', '2M', or NaN to integers.

    Parameters:
    - df (pd.DataFrame): DataFrame containing the column to process.
    - column_name (str): Name of the column to convert.

    Returns:
    - pd.DataFrame: The updated DataFrame with the column converted to integers.
    """
    def convert_to_int(value):
        """Helper function to convert a single value to integer."""
        if pd.isna(value):  # Handle NaN values
            return 0
        if isinstance(value, str):
            if value.endswith('K'):  # Handle 'K' suffix (thousands)
                return int(float(value[:-1]) * 1000)
            elif value.endswith('M'):  # Handle 'M' suffix (millions)
                return int(float(value[:-1]) * 1000000)
            elif value.replace('.', '', 1).isdigit():  # Handle pure numeric strings
                return int(float(value))
        elif isinstance(value, (int, float)):  # Handle numeric types
            return int(value)
        return 0  # Default fallback for unexpected values

    try:
        # Ensure the column exists
        if column_name not in df.columns:
            raise KeyError(f"Column '{column_name}' does not exist in the DataFrame.")
        
        # Apply conversion
        df[column_name] = df[column_name].apply(convert_to_int)
        print(f"Successfully converted '{column_name}' to integers.")
    except KeyError as ke:
        print(f"KeyError: {ke}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
    
    return df

ValueError: cannot convert float NaN to integer
ValueError: cannot convert float NaN to integer

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Text        1056 non-null   object
 1   User        1056 non-null   object
 2   Likes       423 non-null    float64
 3   Reposts     192 non-null    float64
 4   Views       1000 non-null   object
 5   Status ID   1000 non-null   float64
 6   Date        1056 non-null   object
 7   Platform    1056 non-null   object
 8   scraped_at  1056 non-null   object
 9   Replies     56 non-null     float64
dtypes: float64(4), object(6)
memory usage: 82.6+ KB